{% extends 'base.html' %}
{% load static %}

{% block title %}
 About-us
{% endblock title %}

{% block content %} 

<style>
  
    .seven {
        text-align: center;
        margin-top: 30px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .seven:hover {
        transform: scale(1.05);
    }

    h2 {
        color: #333;
        margin-bottom: 15px;
    }
  
</style>

<div class="container">
    <div  style="text-align: center; margin-top: 30px; ">
        
        <h2 class="sidebar-heading seven ">Our Mission</h2>
        <p style="text-align: justify;">At the University of Global Village, Barishal, we are committed to fostering a sense of belonging and knowledge-sharing. Through our blog, we aim to create a space where ideas flourish, conversations thrive, and connections are made. Our team is dedicated to bringing you thought-provoking content that reflects the vibrant spirit of our university community.</p>
        
    </div>
    <h2 class="sidebar-heading seven ">Meet Our Team</h2>    
        <p style="text-align: justify;">Welcome to the heart of creativity and dedication at the University of Global Village, Barishal! Our team is a diverse group of passionate individuals who come together to bring you engaging and insightful content on our blog. Each member brings a unique set of skills, experiences, and perspectives, making our team a dynamic force in the digital landscape.</p>        
          

        
        <div class="container mt-5">
            <div class="row">
                {% for team in teams %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card team-member-card custom-shadow">
                            <img class="card-img-top" style="width: auto; height:315px;" src="{{ team.image.url }}" alt="{{ team.name }}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ team.name }}</h5>
                                <p class="card-text text-center">{{ team.designation }}</p>
                                <div class="social-icons">
                                    <a href="{{ team.fb_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <!-- Include only the Facebook social icon -->
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
         
      
       
        

        
</div>

{% endblock content %}
