{% load static %}
<style>

</style>
<!-- Banner Starts Here -->
<div class="main-banner header-text">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
      {% for blog in most_liked|slice:"7" %}
        <div class="item blog-card">
          <img  class="zoom-on-hover" style="height: 350px;" src="{{blog.banner.url}}" alt="{{blog.title}}">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category category-badge">
                <span>{{blog.category}}</span>
              </div>
              <a href="{% url 'blog_details' blog.slug %}">
                <h4 >{{blog.title}}</h4>
              </a>
              <ul class="post-info">
                <li><a href="javascript:void(0);"> Views: {{blog.views}} <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                <li id="like-count"><a href="javascript:void(0);">{{blog.likes.count}} Reacts</a></li>
                <li><a href="{% url 'blog_details' blog.slug %}"><i class="fa fa-comment"></i> {{blog.blog_comments.all.count}} Comments</a></li>
                <li><a href="{% url 'view_user_information' blog.user.username %}"><i class="fa fa-user"></i> {{blog.user.username}}</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i> {{blog.created_date}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Banner Ends Here -->
