{% extends 'base.html' %}
{% load static %}
{% block titile %}
    Home-Page
{% endblock titile %}

{% block content %}

{% include 'banner.html' %}
<section class="blog-posts"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-8 py-3">
          <div class="all-blog-posts">
            <div class="row">              
              {% for blog in blogs|slice:"10"  %}
                <div class="col-lg-12 mb-3">
                  <div class="blog-card">
                    <div class="blog-thumb thumbnail">
                      <a href="{% url 'blog_details' blog.slug %}"><img class="zoom-on-hover" style="height: 450px;" src="{{blog.banner.url}}" alt="{{blog.title}}"></a>

                    </div>
                    <div class="down-content">
                      <span class="category-badge">{{blog.category}}</span>
                      <a href="{% url 'blog_details' blog.slug %}">
                        <h4 style="color: #1F1844">{{blog.title}}</h4>
                      </a>
                      <ul class="post-info">
                      <li><a href="javascript:void(0);"> Views: {{blog.views}} <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                       <li id="like-count" >{{blog.likes.count}} Reacts</li>
                       <li><a href="{% url 'blog_details' blog.slug %}"><i class="fa fa-comment"></i> {{blog.blog_comments.all.count}} Comments</a></li>
                        <li><a href="{% url 'view_user_information' blog.user.username %}"><i class="fa fa-user"></i> {{blog.user.username}}</a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i> {{blog.created_date}}</a></li>
                      </ul>
                      <p>{{ blog.description|truncatewords:30|safe }} <a href="{% url 'blog_details' blog.slug %}">More</a></p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              {% if blog.tags.all.count > 0 %}
                                {% for tag in blog.tags.all %}
                                  <li><a href="{% url 'tag_blogs' tag.slug %}">{{tag.title}}</a></li>
                                {% endfor %}  
                              {% else %}
                                None
                              {% endif %}
                            </ul>
                          </div>
                          <!-- <div class="col-6">
                            
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                
                
            
              {% endfor %}
              

              <div class="col-lg-12">
                <div class="main-button">
                  <a href="{% url 'blogs' %}">View All Posts</a>
                </div>
              </div>

              
                
              
            </div>
          </div>         
        </div>        
        {% include 'sidebar.html' %}
      
      </div>
    </div>
</section>


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Carousel cards title </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div> 
                              </div>
                        </div>
                        <div class="carousel-item ">
                          <div class="row">
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


 

{% endblock content %}
    