{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body " style="text-align: center;" >
                    <h2 class="card-title">Password Reset Successfully Done </h2>
                    <p>Now click this button for login again</p>
                    <a href="{% url 'login' %}" class="btn btn-primary"><i class="fa fa-backward"></i> Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}