{% extends 'base.html' %}
{% load static %}

{% block title %}
  Search-Result
{% endblock title %}


{% block content %}
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-md-8  m-2 " style="color:white; background-color: #F5831F;">
                <h4 class="text-center ">{{blogs.paginator.count}} results found for "{{search_key}} "</h4>
            </div>
        </div>
        
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              {% for blog in blogs %}
              {% include 'blog_card.html' %}
              {% endfor %}        
            </div>
            {% include 'search_pagination.html' %}
          </div>
        </div>
        {% include 'sidebar.html' with blogs=recent_blogs %}
       </div>
      
    </div>
  </section>
{% endblock content %}
  