.empty-heart{ 
    color:#CDCDCD !important;
}
.blog-posts .submit-comment textarea{
    text-transform: none !important;
}

.submit-reply textarea {
    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: none;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;
}

.reply-button{
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}
.fa-heart{
    color:red !important;
}
.empty-heart{
    color: #CDCDCD !important;
}

.btn-primary{
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}
.errorlist{
    color:red !important;
    padding-bottom: 10px !important ;
}
.contact-us .contact-form input{
    margin-bottom: 10px !important;
}
input, textarea{
    text-transform: none !important;
}


.profile-picture{
    max-width: 100%;
    width: 250px;
    height: 250px;

}

#account_img {
    --color: #FA6900; /* the color of the border */
    --border: 10px;   /* the thickness of the border */
    --offset: 30px;   /* control the movement of the border */
    --gap: 5px;       /* the gap on hover */
    
    border-radius: 50%;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
    -webkit-mask: var(--_m);
            mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background:
      radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
      radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: .4s;
  }
#account_img:hover {
    --_s: 0px
  }
  
.seven h2 {
    text-align: center;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.seven h2:after,.seven h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #f5831f;
    border-top: 1px solid #f5831f;  
    background-color:#f8f8f8;
}

.owl-banner .owl-nav button span {
    color: #ebe8e8;
    font-size: 76px;
    width: 60px;
    height: 68px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: #f5831fa6;
}

.ml-auto, .mx-auto {
    margin-left: 3px!important;
    margin-right: 3px!important;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #994021; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 8px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #f5831fa6; /* Add a dark-grey background on hover */
  }


.container-fluid{
    width: 100% !important;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto  !important;
    margin-left: auto !important;
}
.post-options {
    padding-top: 10px;
    border-top: 1px solid rgba(211, 211, 211, 0.295);
}
.post-info{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.295);
}

.view-profile{
    background-color: #191336;
    color:white;
    border-radius: 5%;
    padding-bottom: 20px;
}

.thumbnail-container {
    background-color: #f0f0f0; /* Use the desired light gray color code */
    padding: 10px; /* Add padding for better visual appearance */
    border-radius: 5px;
}
  
  .thumbnail-img {
    border-radius: 4px; /* Add border-radius for rounded corners */
  }
  
/* blog section extra style add  */
.blog-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .blog-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .thumbnail {
    position: relative;
    overflow: hidden;
  }
  
  .zoom-on-hover {
    transition: transform 0.3s ease;
  }
  
  .thumbnail:hover .zoom-on-hover {
    transform: scale(1.1);
  }
  
  .category-badge {
    color: #F5831F;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .down-content {
    padding: 20px;
  }
  
  .post-info {
    list-style: none;
    padding: 0;
  }
  
  .post-info li {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    color: #888;
  }
  
  .post-tags {
    list-style: none;
    padding: 0;
  }
  
  .post-tags li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .post-tags a {
    color: #3498db;
    text-decoration: none;
  }
  
  .post-tags a:hover {
    text-decoration: underline;
    color: #1F1844;
  }
  
.notification-item {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.notification-item:hover {
  background-color: #f8f9fa;
}

.notification-link {
  color: #007bff;
  text-decoration: none;
}

.notification-link:hover {
  text-decoration: underline;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #F5831F;
}


.dropdown-menu { 
  padding: .0rem 0 !important;

}
.dropdown-divider {
  margin: 0.0rem 0 !important;

}


/* about css */     

.custom-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.team-member-card {
    border-radius: 10px; /* Adjust the border radius for the card */
}

.card-body {
    position: relative;
    z-index: 2;
    padding: 0.25rem !important;
}


.card-title {
    line-height: 1.2;
    margin-bottom: 5px;
}

.card-text {
    line-height: 1.2;
    margin-bottom: 10px;
}

.social-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.social-icons a {
    color: #fff;
    padding: 21px;
    margin: 0 5px;
    transition:0.3s ease;
    text-decoration: none;
}



.card-body:hover .social-icons {
    opacity: 1;
}

.team-member-card:hover .custom-shadow {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* about css */
p {
text-align: justify !important;
color: black !important;
}





.author-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.author-card:hover {
    background-color: #e0e0e0;
}

.author-card img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-right: 20px;
}

.author-details {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .author-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .author-card img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

